*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white-color: #fff;
  --primary-color: #FF64AE;
  --text-color: #091156;
  --desc-text-color: #8B8B8B;
  --mt-12: 12px;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  background-color: transparent;
  overflow: hidden;
  position: relative;
}

.btn {
  display: inline-block;
  font-weight: 600;
  color: var(--white-color);
  background-color: var(--primary-color);
  border-radius: 50px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: opacity 0.2s ease;
}

.btn:hover {
  opacity: 0.65;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* Header */
.header {
  padding: 40px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  margin: 0 auto;
  transition: background-color 250ms ease-in;
}

.site-header {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-scrolled {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.97);
  box-shadow: 0 25px 50px 25px #f7f7ff;
}

.site-header-onmobi {
  display: flex;
  align-items: center;
  justify-content: space-between;
  display: none;
}

.mobile-menu-btn {
  cursor: pointer;
}

.mobile-menu-btn svg {
  fill: currentColor;
}

.mobile-menu-btn:active {
  color: var(--primary-color);
}

.mobile-menu-modal {
  z-index: 11;
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,.3);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in;
}
.mobile-menu-modal.active {
  visibility: visible;
  opacity: 1;
}

.mobile-menu-modal.active .mobile-main-menu {
  left: 0;
}

.mobile-main-menu {
  width: 60%;
  position: absolute;
  bottom: 0;
  left: -60%;
  top: 0;
  background-color: #fff;
  padding: 16px 0 0 32px;
  transition: left 0.5s ease-in;
}

.mobile-main-menu ul {
  flex-direction: column;
  align-items: flex-start;
}

.mobile-main-menu li {
  width: 100%;
}

.mobile-main-menu img {
  width: 100%;
  max-width: 263.828px;
  height: auto;
}

.mobile-main-menu a {
  padding: 20px 0 20px 20px;
  width: 100%;
  transform: background-color 250s linear;
}

.mobile-main-menu li a:active {
  background-color: #f0f0f0;
}

.main-logo:hover {
  opacity: 0.65;
}

.main-logo img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.menu {
  display: flex;
  list-style: none;
  align-items: center;
}

.menu__item:first-child {
  display: flex;
}

.plus {
  position: relative;
  margin-left: 5.11px;
  font-size: 14px;
  color: #41487F;
}

.home {
  margin-right: 46.03px;
  align-content: center;
}

.about {
  margin-right: 46.03px;
}

.service {
  margin-right: 47.05px;
}

.gallery {
  margin-right: 48.07px;
}

.blog {
  margin-right: 53.19px;
}

.menu__link {
  text-decoration: none;
  letter-spacing: 0.1em;
  color: var(--desc-text-color);
}

.menu__link:hover {
  color: var(--text-color);
}

.contact-btn {
  display: inline-block;
  padding: 14px 42.55px;
  color: var(--white-color);
}

.contact-btn:hover {
  color: var(--white-color);
}

.active {
  font-weight: 600;
  color: #414880;
}

/* Content */
/* Main Slider */
.main-slider {
  max-width: 1140px;
  margin: 263px auto 0;
}

.upper-slider {
  display: flex;
  justify-content: center;
}

.slider-heading { 
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  color: var(--text-color);
  margin-top: 53px;
}

.slider-desc {
  max-width: 474px;
  letter-spacing: 0.1em;
  color: var(--text-color);
  margin-bottom: 28px;
  margin-right: 22px;
}

.more-details {
  text-decoration: none;
  max-width: 200px;
  padding: 17.186px 39.3px;
  letter-spacing: 0.1em;
  text-align: center;
}

.slider-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 136.35px;
}

.frame1 {
  margin-right: 41.5px;
}

.rect-left, .rect-right {
  display: inline-block;
  width: 14.82px;
  height: 3.09px;
  border-radius: 50px;
  background-color: #EEEEEE;
  cursor: pointer;
}

.rect-mid {
  display: inline-block;
  width: 25.31px;
  height: 8.15px;
  border-radius: 50px;
  margin: 0 8.03px;
  background-color: currentColor;
  cursor: pointer;
}

.wrap-img {
  position: absolute;
  display: block;
  top: 0;
  left: -38px;
  width: 88%;
  max-width: 1266.42px;
  z-index: -1;
}

.background {
  width: 100%;
  height: auto;
}

/* Services */
.services {
  max-width: 1140px;
  margin: 0 auto;
}

.services-top {
  margin-top: 131px;
  margin-bottom: 82px;
} 

.main-services {
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: var(--primary-color);
}

.services-heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 48.5px;
  text-align: center;
  color: var(--text-color);
  max-width: 460.3px;
  margin: var(--mt-12) auto var(--mt-12);
}

.services-desc {
  max-width: 848px;
  margin: 0 auto;
  font-weight: 400;
  line-height: 25.5px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--desc-text-color);
}

.services-bottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -27.5px;
  text-align: center;
}

.wrap-card {
  width: 33.33%;
  padding: 0 27.5px;
}

.services-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 59px 30px 52px;
  border-radius: 42px;
  background-color: var(--white-color);
  transition: .15s cubic-bezier(.2,.6,.6,1);
  cursor: pointer;
}

.services-card:hover {
  box-shadow: 0 25px 50px 25px #F7F7FF;
  transform: translate3d(0,-4px,0);
}

.services-card__heading {
  margin-top: 58px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--text-color);
  padding-bottom: 17px;
}

.services-card__desc {
  max-width: 274px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--desc-text-color);
  margin-top: 6px;
  padding-bottom: 17px;
}

/* About */
.about-us {
  max-width: 1140px;
  margin: 134.44px auto 147px;
  position: relative;
}

.about__title {
  font-weight: 600;
  line-height: 20px;
  color: var(--primary-color);
  margin-left: 1px;
  margin-bottom: var(--mt-12);
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about__heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 52px;
  color: var(--text-color);
  margin-bottom: 12px;
}

.about__desc {
  max-width: 483px;
  font-weight: 400;
  letter-spacing: 0.1em;
  color: var(--desc-text-color);
  margin-bottom: 49px;
}

.about__desc span:first-child {
  display: inline-block;
  margin-bottom: 28px;
}

.about__action {
  display: flex;
  align-items: center;
}

.learn-more {
    padding: 17.18px 54.52px;
    margin-right: 44px;
}

.watch-compat {
  display: flex;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: var(--desc-text-color);
}

.watch-compat:hover {
  text-decoration: underline;
}

.play:hover {
  opacity: 0.65;
}

.play {
  margin-right: 13px;
}

.about__img {
  position: absolute;
  bottom: -74px;
  right: -74px;
}

.background2 {
  position: absolute;
  top: -354.44px;
  right: -150px;
  width: 83.17%;
  max-width: 948.15px;
  z-index: -1;
}

/* Professional team */
.team {
  max-width: 1084px;
  margin: 0 auto 144px;
}

.team__title {
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: var(--mt-12);
}

.team__heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: var(--text-color);
  margin-bottom: var(--mt-12);
}

.team__desc {
  text-align: center;
  letter-spacing: 0.1em;
  color: var(--desc-text-color);
  padding-bottom: 27px;
  margin-bottom: 84px;
}

.team-bottom {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 -30px;
}

.staff-wrap {
  width: 28%;
  margin: 0 30px;
}

.staff-card {
  width: 100%;
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.staff-card__img {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 53px;
  cursor: pointer;
}

.staff-card__position {
  font-weight: 600;
  line-height: 20px;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.staff-card__name {
  display: inline-block;
  vertical-align: middle;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-color);
  margin-bottom: 6px;
  padding-bottom: 15px;
  cursor: pointer;
}

.staff-card__desc {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: var(--desc-text-color);
  margin-bottom: 50px;
}

.staff-card__contacts {
  display: flex;
  justify-content: center;
  margin: -15px;
}

.staff-card__social {
  width: 33.33%;
  margin-left: 2px;
  margin-right: 2px;
}

.staff-card__social img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}

.staff-card__social:hover {
  opacity: 0.65;
}

.center {
  width: 44%;
}

.center .staff-card {
  max-width: 424px;
  padding-top: 91px;
  padding-bottom: 96px;
  box-shadow: 0 25px 50px 25px #F7F7FF;
  border-radius: 42px;
}

.center .staff-card__img {
  margin-bottom: 53px;
}

.center .staff-card__desc {
  max-width: 270px;
}

.team-modal {
  position: fixed;
  inset: 0;
  z-index: 11;
  background-color: rgba(0,0,0,.3);
  visibility: hidden;
  opacity: 0;
  overflow: auto;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 250ms ease-in;
}

.team-modal.active {
  visibility: visible;
  opacity: 1;
}

.team-modal__content {
  max-width: 600px;
  width: 70%;
  height: auto;
  padding: 60px 40px;
  background-color: var(--white-color);
  position: relative;
  border-radius: 4px;
}

.team-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.team-modal__body {
  display: flex;
  gap: 40px;
}

.team-modal__close {
  border: none;
  background-color: var(--white-color);
  font-size: 20px;
  padding: 12px;
}

.team-modal__info {
} 

.team-modal__info .name {
  color: var(--text-color);
  font-size: 18px;
  margin-bottom: 0px;
  line-height: 40px;
}

.team-modal__info .position {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.team-modal__info .desc {
  color: var(--desc-text-color);
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 16px;
}

.team-modal__info strong {
  color: var(--desc-text-color);
  margin-right: 15px;
}

.team-modal__list {
  list-style: none;
  width: 100%;
}

.team-modal__list li {
  padding: 15px 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.team-modal__body .staff-card__contacts {
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid rgba(0,0,0,.1);
  margin: 0;
}


/* Contact us */
.contact-us {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  gap: 100px;
}

.contact__tilte {
  font-weight: 600;
  line-height: 20px;
  color: #FF64AE;
  margin-bottom: var(--mt-12);
}

.contact__heading {
  max-width: 404px;
  font-weight: 600;
  font-size: 36px;
  line-height: 48.5px;
  color: #091156;
  margin-bottom: 12px;
} 

.contact__desc {
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 28px;
  color: var(--desc-text-color);
  margin-bottom: 44px;
}

.contact-form {
  max-width: 520px;
}

.fname,
.lname,
.email,
.subject-message,
.inquiry {
  color: #C5C5C5;
  /* text-shadow: .1px .1px rgba(0, 0, 0, 0.5); */
  background: #FFFFFF;
  border: 1px solid #D9DDFE;
  outline: none;
  margin-top: -1px;
  border-radius: 15px;
  width: 100%;
  padding: 15px 0 16.58px 22px;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 38.32px;
  line-height: 28px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C5C5C5;
  /* text-shadow: .1px .1px rgba(0, 0, 0, 0.5); */
  opacity: 1; /* Firefox */
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #C5C5C5;
  /* text-shadow: .1px .1px rgba(0, 0, 0, 0.5); */
}

input::-ms-input-placeholder { /* Microsoft Edge */
  color: #C5C5C5;
  /* text-shadow: .1px .1px rgba(0, 0, 0, 0.5); */
}

.name {
  display: flex;
  gap: 35.58px;
}

.fname {
  flex: 1
}

.lname {
  flex: 1;
}

.inquiry {
  height: 239.47px;
  margin-bottom: 54.84px;
  resize: vertical;
}

.submit {
  padding: 17px 69.7px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-top: -2.97px;
}

.background3 {
  position: absolute;
  bottom: 143px;
  width: 103.2%;
  left: -150px;
  max-width: 1175.73px;
  z-index: -1;
}

/* Footer */
.footer {
  position: relative;
  margin-left: -40px;
  margin-right: -40px;
  margin-top: 58px;
  padding-top: 237px;
  background-image: url('../img/footer-background.png');
  background-size: cover;
  background-position: center top;
}

.footer-background {
  position: absolute;
  max-width: 1440px;
  height: fit-content;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.bottom-background {
  position: absolute;
  top: 355px;
  bottom: 0;
  max-width: 1440px;
  background-color: #0D165C;
  z-index: -2;
}
.footer-wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding-bottom: 89.77px;
}

.top-footer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 140.05px;
}

.footer-logo {
  margin-bottom: 33px;
}

.footer-logo img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.company-contact {
  margin-top: 16px;
  color: #D7DBFF;
  margin-right: 129px;
}

.about-company span {
  font-weight: 700;
}

.about-company {
  letter-spacing: 0.1em;
  line-height: 21px;
  margin-left: 31px;
  margin-bottom: 26px;
}

.company-address {
  margin-left: 31px;
  margin-bottom: 1px;
  font-weight: 500;
  font-size: 14px;
  font-style: italic;
}

.phone-eamail {
  margin-left: 31px;
  line-height: 23px;
  font-style: italic;
}

.phone-eamail span {
  margin-right: 28px;
}

.phone-eamail a {
  color: #D7DBFF;
}

.page {
  margin-right: 173px;
}

.page-heading, 
.infor-heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.1em;
  color: var(--white-color);
  margin-bottom: 24px;
}

.footer__menu {
  list-style: none;
}

.footer__item + .footer__item {
  margin-top: 11px;
}

.footer__link {
  display: inline-block;
  color: #D7DBFF;
  text-decoration: none;
  padding-left: 21px;
  position: relative;
  min-width: 131px;
  margin-bottom: 11px;
  font-weight: 400;
  letter-spacing: 0.1em;
}
.footer__link:last-child {
  margin-bottom: 0;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__link::before {
  position: absolute;
  content: '';
  border-width: 3.775px 4.05px;
  border-style: solid;
  border-color: transparent transparent transparent #D7DBFF;
  transform: translateY(-50%);
  top: 50%;
  left: 3.85px;
}

.bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.social-bar {
  display: flex;
  align-items: center;
}

.social-bar a {
  display: inline-block;
  margin-right: 45px;
  height: 27.84px;
}

.social-bar a:last-child {
  margin-right: 0;
}

.social-bar a:hover {
  opacity: 0.65;
}

.copyright {
  color: #D7DBFF;
  text-align: right;
  line-height: 31.18px;
  letter-spacing: 0.1em;
}

.go-to-top {
  position: fixed;
  right: 65px;
  bottom: 170px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  /* transition: all 250ms ease-in; */
}

.go-to-top img {
  vertical-align: middle;
  display: inline-block;
}

.go-to-top.visible {
  visibility: visible;
  opacity: 1;
}

.go-to-top:hover {
  opacity: 0.65;
}

/* Resposive */
/* Large devices */
@media screen and (max-width: 1200px) {
  .main {
    padding: 0 20px 0;
  }

  .header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .wrap-text {
    width: 100%;
  }

  .frame1 {
    margin: 0 auto;
    max-width: 100%;
    flex: 1;
    height: auto;
  }

  .services-bottom {
    max-width: 1140px;
  }
   
  .about__img {
    position: static;
    margin: 0 auto;
    width: 100%;
    height: auto;
    flex: 1;
  }


  .about__action {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about__desc {
    margin-bottom: 28px;
  }
  
  .learn-more {
    margin: 0 0 28px;
  }

  .footer-wrapper {
    padding: 0 40px 89.77px;
  }

  .company-contact {
    margin-bottom: 33px;
  }

  .page ,
  .infor {
    margin-bottom: 31px;
  }

  .services-card {
    margin-bottom: 36px;
  }

  .services-card:last-child {
    margin-bottom: 0;
  }

  .about-wrapper {
    justify-content: center;
  }

  .about-us {
    text-align: center;
  }

  .about__desc {
    max-width: 848px;
    max-width: initial;
    margin-left: auto;
    margin-right: auto;
  }

  .about__action {
    justify-content: center;
  }

  .about-company,
  .company-address,
  .phone-eamail {
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .wrap-card {
    width: 50%;
  }

  .services-card__desc {
    max-width: initial;
  }

  .team-bottom {
    flex-direction: column;    
  }

  .staff-wrap {
    width: 100%;
    padding: 90px 60px;
  }

  .staff-card,
  .center .staff-card,
  .center .staff-card__desc {
    max-width: initial;
  }

  .contact-us {
    flex-direction: column;
  }

  .contact-right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .contact__tilte,
  .contact__heading,
  .contact__desc {
    width: 100%;
    max-width: initial;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-form {
    width: 100%;
    max-width: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .name {
    width: 100%;
  }

  .contact-left {
    width: 100%;
    height: auto;
  }
}

/* Medium devices */
@media (max-width: 992px) {
  .main {
    padding: 0 32px;
  }

  .header {
    padding: 10px 32px;
  }

  .site-header{
    display: none;
  }

  .site-header-onmobi{
    display: flex;
  }

  .upper-slider {
    flex-direction: column;
    align-items: center;
  }

  .slider-heading { 
    margin-top: 0;
  }

  .frame1 {
    margin: 82px auto 0;
    max-width: 100%;
    height: auto;
  }

  .slider-btn {
    display: none;
  }

  .slider-heading,
  .slider-desc {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .more-details {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .team-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .staff-card {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-us {
    justify-content: center;
  }

  .contact__heading, .contact__desc {
    text-align: center; 
  }

  .social-bar a:last-child {
    margin-right: 0;
  }

  .bottom-footer {
    justify-content: center;
  }

  .social-bar {
    margin-bottom: 31px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .copyright {
    text-align: center;
    margin-bottom: 31px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .services-bottom {
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }

  .wrap-card {
    margin-bottom: 36px;
    width: 100%;
  }

  .name {
    flex-direction: column;
    gap: 0;
  }

  .go-to-top {
    bottom: 50px;
    right: 38px;
  }

  .team-modal {
    padding: 16px;
  }

  .team-modal__body {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }

  .team-modal__content {
    text-align: center;
    margin: 0 auto;
  }

  .team-modal__img {
    width: 100%;
    text-align: center;
  }

  .team-modal__img img {
    max-width: 300px;
    width: 100%;
    height: auto;
  }

  .team-modal {
    display: block;
  }
}

/* small devices */
@media only screen and (max-width: 576px) {
  .main {
    padding: 0 16px 0;
  }

  .header {
    padding: 16px;
  }

  .header {
    padding-left: 16px;
    padding-right: 16px;
  }

  .mobile-main-menu {
    width: 80%;
    padding: 16px 0 0 0;
  }

  .main-logo {
    max-width: 200px;
  }

  .services-card {
    padding: 59px 30px 52px; 
    margin-left: 0;
    margin-right: 0;
  }

  .services-bottom,
  .team-bottom {
    padding-left: 20px;
    padding-right: 20px;
  }

  .staff-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }

  .contact-us {
    margin-bottom: 128px;
  }

  .top-footer {
    margin-bottom: 7px;
  }

  .company-contact {
    margin-right: 0;
  }

  .team-modal__content {
    width: 100%;
  } 
}
